.foldable-section {
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.toggle-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
