.foldable-section {
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.toggle-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* plot 3D styles */
.plot3d, .canvasPlot, .plot3d-implicit {
    position: absolute;
    z-index: 2;
    border: 1px solid blue;
}

.graph-additional {
    margin: 0;
    padding: 2px;
    background: rgb(255, 255, 255);
    border-bottom: 1px dotted #CCC;
    border-top: 1px dotted #CCC;
}