.App {
    text-align: left;
    /*background: linear-gradient(320deg, #fc466b, #3f5efb)*/
}

body {
    background: linear-gradient(320deg, #fc466b, #3f5efb);
    margin: 0;
    height: 100vh;
    background-attachment: fixed;
}

.container {
    display: flex;
    justify-content: center;
}

.container > * {
    flex: 1;
}

.mathjaxnode-container {
    display: flex;
    flex-wrap: wrap;
}

.mathjax-node {
    /*flex: 1 0 auto;*/
    /*margin: 0.5em;*/
    /*padding: 0.5em;*/
    width: 100%;
    overflow: auto;
    word-break: break-word;
}